{% extends 'base.html' %}
{% block body %}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>{{product.Name}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="job_details_header">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{{product.image.url}}" alt="" width=50 height=50>
                                </div>
                                <div class="jobs_conetent">
                                    <a href="#"><h4>{{product.Name}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i> {{product.Production_country}}</p>
                                        </div>
                                        <div class="location">
                                            <p> Price   {{product.price}}  EGP</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="descript_wrap white-bg">
                        <div class="single_wrap">
                            <h4>Product description</h4>
                            <p>{{product.description}}.</p>

                        </div>
                        <div class="d-none d-lg-block">
                            <a class="boxed-btn3" href="{% url 'home:add_cart' product.product_id %}">Add to cart</a>
                        </div>

                    </div>

                </div>

                </div>
            </div>
        </div>
    </div>
{% endblock body %}
  