{% extends 'base.html' %}
{% load bootstrap4 %}
{% block body %}
    
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>+{{all_products.count}} Products Available</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="job_filter white-bg">
                        <div class="form_inner white-bg">
                            <h3>Search</h3>
                            <form method="GET">
                                {% bootstrap_form product_filter.form%}
                                <input type="submit" value="Search" class="boxed-btn3 w-100 mt-2">
                            </form>
                        </div>
                    </div>
                </div>                  
                <div class="col-lg-9">
                    <div class="recent_joblist_wrap">
                        
                    </div>

                    <div class="job_lists m-0">
                        <div class="row">
                            {% for product in products%}
                            <div class="col-lg-12 col-md-12">
                                <div class="single_jobs white-bg d-flex justify-content-between">
                                    <div class="jobs_left d-flex align-items-center">
                                        <div class="thumb">
                                            <img src="{{ product.image.url }}" alt="" width=50 height=50>
                                        </div>
                                        <div class="jobs_conetent">
                                            <a href="{% url 'home:product_detail' product.product_id %}"><h4>{{product.Name}}</h4></a>
                                            <div class="links_locat d-flex align-items-center">
                                                <div class="location">
                                                    <p> <i class="fa fa-map-marker"></i> {{product.Production_country}}</p>
                                                </div>
                                                <div class="location">
                                                    <p>  {{product.price}} EGP</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jobs_right">
                                        <div class="apply_now">
                                            <a href="job_details.html" class="boxed-btn3">Details</a>
                                        </div>
                  
                                    </div>
                                </div>
                            </div>
                            {% endfor%}

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="pagination_wrap">
                                    <ul>
                                        {% if products.has_previous %}
                                            <li><a href="?page={{ products.previous_page_number }}"> <i class="ti-angle-left"></i> </a></li>
                                        {% endif %}

                                        {% for i in products.paginator.page_range %}
                                            <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                        {% endfor %}
                                        {% if products.has_next %}
                                            <li><a href="?page={{ products.next_page_number }}"> <i class="ti-angle-right"></i> </a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
{% endblock body %}
